
.sw_loading {
    display: inline-block;
}
.sw_loading_wrapper { 
    display: flex;
    align-items: center;
    &.vertical { 
        flex-direction: column;
    }
}
.sw_circular {
    animation: loading-rotate 1.5s ease-in-out infinite;
    transform-origin:center center;
  }
  .sw_path {
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    
  }
  @keyframes loading-dash {
    0% {
      stroke-dasharray: 1 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90 150;
      stroke-dashoffset: -40;
    }
    100% {
      stroke-dasharray: 90 150;
      stroke-dashoffset: -120;
    }
  }

  @keyframes loading-rotate {
    to {
      transform: rotate(360deg);
    }
  }



.sw_path1,.sw_path2 {
    animation: bounce 2s infinite ease-in-out ;
    transform-origin: center center;
    opacity: 0.6;
}
.sw_path2 {
    animation-delay: -1s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


  @keyframes loading-scale-s {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }

    @keyframes loading-scale-b {
    0% {
      transform: scale(0.1);
    }
    100% {
      transform: scale(1);
    }
  }